.backBtn {
  background: no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backLink {
  display: flex;
  align-items: center;
}

.backLink:hover .btnText,
.backLink:focus .btnText {
  color: var(--violet-70v);
}

.btnText {
  text-decoration: underline;
  color: var(--blue-60v);
  font-weight: 400;
  font-size: 18px;
  line-height: 29.2px;
  transition: color 200ms ease-in;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  fill: var(--gray-cool-90);
  margin-right: 12px;
}
